body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  opacity: 0.8;
}

.list:hover{
  opacity: 1.0;
  background-color: red;

}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.header {
  background-color: #26d0c9;
  color: #fff;
  height: 120px;
  width: 1400px;
  position:fixed;
    top:0px;
    /* z-indexを10に指定してください */
    z-index:10;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;

}

.header-list li {
  float: left;
  padding: 33px 40px;
  font-size: 25px;

}

.main {
  padding: 100px 80px;
}

.copy-container h1 {
  font-size: 140px;
}

.copy-container h2 {
  font-size: 60px;
  padding-bottom: 20px;
}
.copy-container h4 {
  padding-bottom: 5px;
}
.copy-container h5 {
  color:#2F4F4F;

}


.copy-container h1 span {
  color: #ff4a4a;
}

.copy-container h4 span {
  color: #2F4F4F;
  font-size: 14px;
}

.contents {
  height: 300px;
  margin-top: 100px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contents-item {
  float: left;
  margin-right: 40px;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

.contact-form {
  padding-top: 100px;
}

/* inputとtextareaのCSSを指定してください */
input,textarea{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}

/* contact-submitのCSSを指定してください */
.contact-submit{
  background-color:#dee7ec;
  color:#889eab;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}

ul {
  list-style: none;
}

.slide-wrapper {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  color: #5e6f84;
  padding: 60px 0;
}

.slide-title {
  font-size: 40px;
  margin-bottom: 30px;
}

.change-btn-wrapper {
  width: 500px;
  margin: 20px auto;
  font-size: 18px;
}

.change-btn-wrapper:after {
  content: "";
  clear: both;
  display: block;
}

.prev-btn {
  cursor: pointer;
  float: left;
  display: none;
}

.next-btn {
  cursor: pointer;
  float: right;
}

.slides {
  padding: 0;
}

.slide {
  display: none;
}

.active {
  display: block;
}

.slide img {
  width: 500px;
  height: auto;
  border-radius: 5px;
}

.index-btn-wrapper {
  font-size: 16px;
  margin-top: 20px;
}

.index-btn {
  display: inline-block;
  color: #4e90af;
  background-color: #e0f5ff;
  width: 40px;
  padding: 6px 0;
  margin: 0 5px;
  border-radius: 3px;
  cursor: pointer;
}

.index-btn:hover {
  color: #fff;
  background-color: #5cabd0;
}
.jquery {
  margin: 0 auto;
  padding: 40px;
  width: 80%;

}

.slick-slide {
  text-align: center;
  color: #419be0;
  background: white;
}



.slideshow {
	position: relative;
	width: 640px; /* 画像の横幅 */
	height: 480px; /* 画像の縦幅 */
  padding: 100px;
}

.slideshow img {
	position: absolute;
	left: 300px;
	top: 100px;
	opacity: 0;
	transition: 0.5s; /* フェードの時間(秒) */

}

.slideshow .show {
	opacity: 1;
	z-index: 1;
}
